<form (ngSubmit)="onSignUpSubmit()" #f="ngForm" class="regis-form">
  <div class="container">
    <div class="input-field col s12">
      <label for="email">Email</label>
      <input id="email" type="email" required name='email' [(ngModel)]="signUpUser.email" class="validate">
    </div>
    <div class="input-field col s12">
      <label for="password">Password</label>
      <input id="password" type="password" required name='password' [(ngModel)]="signUpUser.password" class="validate">
    </div>
    <div class="input-field col s12">
      <label for="passwordConfirmation">Confirm Password</label>
      <input id="passwordConfirmation" type="password" required name='passwordConfirmation'
               [(ngModel)]="signUpUser.passwordConfirmation" class="validate">
    </div>
    <div class="col s12 ">
      <button type="submit" [disabled]="!(f.valid)" [ngClass]="{'disabled': !(f.valid)}"
        class="btn">
        Login
      </button>
    </div>
  </div>
</form>

